.content-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form {
  background: var(--white-color);
  border-radius: 9px;
  padding: 20px;
}
.register {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 20px;
}
.input-form {
  margin-bottom: 20px;
  span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--text-color);
    letter-spacing: 1px;
  }
  input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
  }
}

.btn {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.btn-register {
  border-radius: 5px;
  width: 50%;
  align-items: center;
  padding: 8px;
  text-transform: uppercase;
}
.footer-form {
  font-size: 16px;
}
