.product {
  display: flex;
  margin-top: 20px;
  background-color: white;
}
.product-left {
  margin: 20px;
  width: 40%;
  display: flex;
  justify-content: center;
}
.product-right {
  margin: 20px;
  width: 60%;
}
.product-detail-img {
  width: 300px;
  height: 300px;
}
.img {
  object-fit: contain;
  width: 100%;
  height: inherit;
}
.product-detail-name {
  line-height: 2.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--text-color);
  height: fit-content;
  text-transform: capitalize;
}
.product-detail-rating {
  display: flex;
  margin-top: 30px;
  font-size: 1.6rem;
  color: #767676;
  padding: 5px 0;
}
.product-detail-rating-rate {
  position: relative;
}
.product-detail-rating-separate::after {
  content: '';
  display: block;
  position: absolute;
  border-left: 1px solid #767676;
  height: 20px;
  right: -9px;
  top: 54%;
  transform: translateY(-50%);
}
.product-detail-rating-count {
  margin-left: 15px;
}
.product-detail-price {
  display: flex;
  padding: 17px;
  background-color: #fafafa;
  font-size: 3rem;

  .product-detail-price__old {
    font-size: 2rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
  }
  .product-detail-price__current {
    color: var(--primary-color);
    margin-left: 10px;
    flex-wrap: wrap;
  }
}

.amount {
  display: flex;
  padding: 15px 0;
  font-size: 2rem;
  align-items: center;
}
.buy-product {
}
.btn-buy {
  background-color: #ee4d2d;
  border: 0;
  border-radius: 3px;
  color: var(--white-color);
  padding: 10px;
  font-size: 2rem;
}
.product-inf {
  margin-top: 20px;
  background-color: var(--white-color);
}
.inf-detail {
  font-size: 2.4rem;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.02);
  text-decoration: underline;
}
.inf-des {
  font-size: 1.6rem;
  padding: 20px 10px;
  line-height: 25px;
}
.mgn {
  margin: 10px 0;
}
