.header-input {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.header__logo {
  width: 200px;
}
.header__logo-img {
  width: 150px;
  color: white;
}
.header__logo-link {
  text-decoration: none;
  color: transparent;
  display: block;
  line-height: 0;
}

.header__search {
  height: 40px;
  flex: 1;
  border-radius: 2px;
  background-color: white;
  display: flex;
  align-items: center;
}
.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #333;
  padding: 0 8px;
  border-radius: 2px;
}
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search-btn {
  background-color: #ee4d2d;
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}
.header__cart {
  width: 150px;
  text-align: center;
}
.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  z-index: 1;
}
.header__cart-icon {
  color: white;
  font-size: 2.4rem;
  margin-top: 6px;
}
