li {
  list-style: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 5px 0;
}

.col {
  display: grid;
}
.product-detail {
  margin-top: 10px;
}
.category-name {
  background-color: var(--white-color);
  font-size: 30px;
  margin-top: 10px;
  padding: 20px;
  text-transform: capitalize;
}
.row-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 5px 0;
}
