:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --back-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;

  --header-height: 120px;
  --navbar-height: 49px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
  --header-sort-bar-height: 46px;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.header {
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  z-index: 22;
  height: 119px;
}
.container-home {
  margin-top: 140px;
}
.grid {
  max-width: 1200px;
  margin: 0 auto;
}
